.menu {
    overflow: hidden;
    background-color: black;
    margin-left: 72%;
    margin-right: 30%;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    display: inline;
}

.menu a {
    float: right;
    display: table;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    border-right: 1px solid #f2f2f2;
    background-color: black;
}

button {
    background-color: black;
    color: white;
    margin: 10px;
}

a.eins {  
    color:aqua; 
}

a:hover {
    color: #8FBC8F; 
}

.seite {
    color: red;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 30px;
}

#index {
    color: red;
}

body {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-family: sans-serif;
    background-color: #000880;
}


h1{
    font-size: 70px;
    text-align: center;
    padding-top: 30px;
    color:#8FBC8F;
    width: 100%;
    background-position: center;
}

p, h2, label {
    color: #8FBC8F;
    text-align: center;
}

#name {
    color: #8FBC8F;
    text-align: center;
    font-size: 20px;
}

#nameEintrag {
    text-align: center;
    margin-top: 10px;
    height: 15px;
    width: auto;
}

#Formular {
    text-align: center;
    padding-top: 10px;
}

#Eintrag {
    text-align: center;
    
}


table, th, td { 
    border: 1px solid; 
    background-color:white;
    color: #8FBC8F;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
}


#start {
    position: absolute;
    height: auto;
    width: 200px;
    font-size: 25px;
    top: 230px;
    left: 120px;
}

#startHome {
    text-align: center;
    height: auto;
    width: 200px;
    font-size: 25px;
    top: 210px;
}

#erklaertext {
    text-align: center;
    top: 280px;
    padding-top: 20px;
}


#URL {
    width: 500px;
    height: auto;
    text-align: center;
    margin-top: 10px;
}


#url {
    color: #8FBC8F;
    text-align: center;
}
    

img {
    height: 120px;
    width: 120px;
    text-align: center;
    z-index: 4;
}

#spielstart {
    z-index: 6;
    position: absolute;
    left: 510px;
    top: 300px;
    height: auto;
    width: 400px;
    font-size: 50px;
}

#timer {
    position: absolute;
    font-size: 50px;
    top: 170px;
    left: 1100px;
    color: #f2f2f2;
}

#timerAnzeige {
    margin-top: 40px;
    margin-bottom: 70px;
    line-height: 0%;
    text-align: center;
    font-size: 60px;
    color: #f2f2f2;
}

#punkteAnzeige {
    margin-top: 40px;
    margin-bottom: 70px;
    line-height: 0%;
    text-align: center;
    font-size: 60px;
    color: #f2f2f2;
}

#p {
    text-align: center;
    font-size: 20px;    
}

#neuesSpiel {
    position: absolute;
    height: auto;
    width: 200px;
    font-size: 20px;
    top: 250px;
    left: 1100px;
}

#fertig {
   text-align: center;
   margin-top: 20px;
    font-size: 15px;
    width: 70px;
    height: auto;
}

#einfuegen {
    text-align: center;
    font-size: 20px;
    width: 150px;
    height: auto;

}

#loeschen {
    text-align: center;
    font-size: 20px;
    width: 150px;
    height: auto;
}

#text {
   text-align: center;
   padding-top: 30px;
   font-size: 20px;
}

#anzeige {
    text-align: center;
}

#meme {
    position: absolute;
    left: 50px;
    top: 350px;
    height: 300px;
    width: 300px;
}

#video {
    position: absolute;
    z-index: 10;
    height: 800px;
    width: 800px;
    top: 30px;
    left: 350px;
}

#nr1 {
    position: absolute;
    border: 10px;
    left: 400px;
    top: 100px;
    
}

#nr2 {
    position: absolute;
    border: 10px;
    left: 400px;
    top: 230px;
}

#nr3 {
    position: absolute;
    border: 10px;
    left: 400px;
    top: 360px;
}

#nr4 {
    position: absolute;
    border: 10px;
    left: 400px;
    top: 490px;
}

#nr5 {
    position: absolute;
    border: 10px;
    left: 530px;
    top: 100px;
}

#nr6 {
    position: absolute;
    border: 10px;
    left: 530px;
    top: 230px;
}

#nr7 {
    position: absolute;
    border: 10px;
    left: 530px;
    top: 360px;
}

#nr8 {
    position: absolute;
    border: 10px;
    left: 530px;
    top: 490px;
}

#nr9 {
    position: absolute;
    border: 10px;
    left: 660px;
    top: 100px;
}

#nr10 {
    position: absolute;
    border: 10px;
    left: 660px;
    top: 230px;
}

#nr11 {
    position: absolute;
    border: 10px;
    left: 660px;
    top: 360px;
}

#nr12 {
    position: absolute;
    border: 10px;
    left: 660px;
    top: 490px;
}


#nr13 {
    position: absolute;
    border: 10px;
    left: 790px;
    top: 100px;
}

#nr14 {
    position: absolute;
    border: 10px;
    left: 790px;
    top: 230px;
}

#nr15 {
    position: absolute;
    border: 10px;
    left: 790px;
    top: 360px;
}

#nr16 {
    position: absolute;
    border: 10px;
    left: 790px;
    top: 490px;
}

#nr17 {
    position: absolute;
    border: 10px;
    left: 920px;
    top: 100px;
}

#nr18 {
    position: absolute;
    border: 10px;
    left: 920px;
    top: 230px;
}

#nr19 {
    position: absolute;
    border: 10px;
    left: 920px;
    top: 360px;
}

#nr20 {
    position: absolute;
    border: 10px;
    left: 920px;
    top: 490px;
}

#bild1 {
    height: 300px;
    width: 300px;
    left: 575px;
    top: 275px;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild1;
}
@keyframes bild1 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        top: 100px;
        left: 400px;
    }
}

#bild2 {
    height: 300px;
    width: 300px;
    left: 575px;
    top: 275px;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild2;
}
@keyframes bild2 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        top: 230px;
        left: 400px;
    }
}

#bild3 {
    height: 300px;
    width: 300px;
    left: 575px;
    top: 275px;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild3;
}
@keyframes bild3 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        top: 360px;
        left: 400px;
    }
}

#bild4 {
    height: 300px;
    width: 300px;
    left: 575px;
    top: 275px;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild4;
}
@keyframes bild4 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        top: 490px;
        left: 400px;
    }
}

#bild5 {
    height: 300px;
    width: 300px;
    left: 575px;
    top: 275px;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild5;
}
@keyframes bild5 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 530px;
        top: 100px;
    }
}

#bild6 {
    height: 300px;
    width: 300px;
    left: 575px;
    top: 275px;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild6;
}
@keyframes bild6 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 530px;
        top: 230px;
    }
}

#bild7 {
    height: 300px;
    width: 300px;
    left: 575px;
    top: 275px;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild7;
}
@keyframes bild7 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 530px;
        top: 360px;
    }
}

#bild8 {
    height: 300px;
    width: 300px;
    left: 575px;
    top: 275px;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild8;
}
@keyframes bild8 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 530px;
        top: 490px;
    }
}

#bild9 {
    height: 300px;
    width: 300px;
    left: 575px;
    top: 275px;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild9;
}
@keyframes bild9 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 660px;
        top: 100px;
    }
}

#bild10 {
    height: 300px;
    width: 300px;
    left: 575px;
    top: 275px;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild10;
}
@keyframes bild10 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 660px;
        top: 230px;
    }
}

#bild11 {
    height: 300px;
    width: 300px;
    left: 575px;
    top: 275px;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild11;
}
@keyframes bild11 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 660px;
        top: 360px;
    }
}

#bild12 {
    height: 300px;
    width: 300px;
    left: 575px;
    top: 275px;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild12;
}
@keyframes bild12 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 660px;
        top: 490px;
    }
}

#bild13 {
    height: 300px;
    width: 300px;
    left: 575px;
    top: 275px;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild13;
}
@keyframes bild13 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 790px;
        top: 100px;
    }
}

#bild14 {
    height: 300px;
    width: 300px;
    left: 575px;
    top: 275px;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild14;
}
@keyframes bild14 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 790px;
        top: 230px;
    }
}

#bild15 {
    height: 300px;
    width: 300px;
    left: 575px;
    top: 275px;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild15;
}
@keyframes bild15 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 790px;
        top: 360px;
    }
}

#bild16 {
    height: 300px;
    width: 300px;
    left: 575px;
    top: 275px;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild16;
}
@keyframes bild16 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 790px;
        top: 490px;
    }
}

#bild17 {
    height: 300px;
    width: 300px;
    left: 575px;
    top: 275px;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild17;
}
@keyframes bild17 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 920px;
        top: 100px;
    }
}

#bild18 {
    height: 300px;
    width: 300px;
    left: 575px;
    top: 275px;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild18;
}
@keyframes bild18 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 920px;
        top: 230px;
    }
}

#bild19 {
    height: 300px;
    width: 300px;
    left: 575px;
    top: 275px;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild19;
}
@keyframes bild19 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 920px;
        top: 360px;
    }
}

#bild20 {
    height: 300px;
    width: 300px;
    left: 575px;
    top: 275px;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild20;
}
@keyframes bild20 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 920px;
        top: 490px;
    }
}

#move1 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: move;
}

@keyframes move {
    from {
        width: 120px;
        height: 120px;
    }

    to {
        width: 0px;
        height: 0px;
    }
}

#move2 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: move;
}

@keyframes move {
    from {
        width: 120px;
        height: 120px;
    }

    to {
        width: 0px;
        height: 0px;
    }
}


@media screen and (min-width: 601px) and (max-width: 1024px) {
    .menu {
        overflow: hidden;
        background-color: black;
        margin-left: 82%;
        margin-right: 20%;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        display: inline;
    }
    
    .menu a {
        float: right;
        display: table;
        color: #f2f2f2;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        font-size: 15px;
        border-right: 1px solid #f2f2f2;
        background-color: black;
    }
    
    button {
        background-color: black;
        color: white;
    }
    
    a.eins {  
        color:aqua; 
    }
    
    a:hover {
        color: #8FBC8F; 
    }
    
    .seite {
        color: red;
    }
    
    .content {
        padding: 16px;
    }
    
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    .sticky + .content {
        padding-top: 20px;
    }
    
    #index {
        color: red;
    }
    
    body {
        text-align: center;
        width: 100%;
        margin-top: 10px;
        font-family: sans-serif;
        background-color: #000880;
    }
    
    
    h1{
        font-size: 50px;
        text-align: center;
        padding-top: 30px;
        color:#8FBC8F;
        width: 100%;
        background-position: center;
    }
    
    h2, label {
        color: #8FBC8F;
        text-align: center;
    }

    p {
        color: #8FBC8F;
        text-align: center;
        font-size: 14px;
    }
    
    #name {
        color: #8FBC8F;
        text-align: center;
        font-size: 20px;
    }
    
    #nameEintrag {
        text-align: center;
        margin-top: 10px;
        height: 15px;
        width: auto;
    }
    
    #Formular {
        text-align: center;
        padding-top: 10px;
    }
    
    #Eintrag {
        text-align: center;
        
    }
    
    
    table, th, td { 
        text-align: center;
        border: 1px solid; 
        background-color:white;
        color: #8FBC8F;
        font-size: 20px;
        padding: 10px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    #start {
        position: absolute;
        height: auto;
        width: 150px;
        font-size: 18px;
        top: 160px;
        left: 200px;
    }
    
    #startHome {
        text-align: center;
        height: auto;
        width: 200px;
        font-size: 25px;
        margin-top: -10px;
        margin-bottom: -10px;
    }
    
    #erklaertext {
        text-align: center;
        top: 280px;
        padding-top: 20px;
    }
    
    
    #URL {
        width: 500px;
        height: auto;
        text-align: center;
    }
    
    #url {
        color: #8FBC8F;
        text-align: center;
    }
    
    img {
        height: 110px;
        width: 110px;
        text-align: center;
        z-index: 4;
    }
    
    #spielstart {
        z-index: 6;
        position: absolute;
        left: 270px;
        top: 550px;
        height: auto;
        width: 200px;
        font-size: 40px;
    }
    
    #timer {
        position: absolute;
        font-size: 30px;
        top: 250px;
        left: 170px;
        color: #f2f2f2;
    }
    
    #timerAnzeige {
        margin-top: 40px;
        margin-bottom: 70px;
        line-height: 0%;
        text-align: center;
        font-size: 60px;
        color: #f2f2f2;
    }
    
    #punkteAnzeige {
        margin-top: 40px;
        margin-bottom: 70px;
        line-height: 0%;
        text-align: center;
        font-size: 60px;
        color: #f2f2f2;
    }
    
    #p {
        text-align: center;
        font-size: 20px;    
    }
    
    #neuesSpiel {
        position: absolute;
        height: auto;
        width: 130px;
        font-size: 18px;
        top: 245px;
        left: 300px;
    }
    
    #fertig {
       text-align: center;
       margin-top: 20px;
        font-size: 15px;
        width: 70px;
        height: auto;
    }
    
    #einfuegen {
        text-align: center;
        font-size: 20px;
        width: 150px;
        height: auto;
    
    }
    
    #loeschen {
        text-align: center;
        font-size: 20px;
        width: 150px;
        height: auto;
    }
    
    #text {
       text-align: center;
       padding-top: 30px;
    }
    
    #anzeige {
        text-align: center;
    }

    #meme {
        text-align: center;
        top: 700px;
        height: 300px;
        width: 300px;
    }

    #video {
        position: absolute;
        z-index: 10;
        height: 600px;
        width: 600px;
        top: 25px;
        left: 30px;
    }
    
    #nr1 {
        position: absolute;
        border: 10px;
        top: 300px;
        left: 150px;
        
    }
    
    #nr2 {
        position: absolute;
        border: 10px;
        left: 150px;
        top: 420px;
    }
    
    #nr3 {
        position: absolute;
        border: 10px;
        left: 150px;
        top: 540px;
    }
    
    #nr4 {
        position: absolute;
        border: 10px;
        left: 150px;
        top: 660px;
    }
    
    #nr5 {
        position: absolute;
        border: 10px;
        left: 150px;
        top: 780px;
    }
    
    #nr6 {
        position: absolute;
        border: 10px;
        left: 270px;
        top: 300px;
    }
    
    #nr7 {
        position: absolute;
        border: 10px;
        left: 270px;
        top: 420px;
    }
    
    #nr8 {
        position: absolute;
        border: 10px;
        left: 270px;
        top: 540px;
    }
    
    #nr9 {
        position: absolute;
        border: 10px;
        left: 270px;
        top: 660px;
    }
    
    #nr10 {
        position: absolute;
        border: 10px;
        left: 270px;
        top: 780px;
    }
    
    #nr11 {
        position: absolute;
        border: 10px;
        left: 390px;
        top: 300px;
    }
    
    #nr12 {
        position: absolute;
        border: 10px;
        left: 390px;
        top: 420px;
    }
    
    
    #nr13 {
        position: absolute;
        border: 10px;
        left: 390px;
        top: 540px;
    }
    
    #nr14 {
        position: absolute;
        border: 10px;
        left: 390px;
        top: 660px;
    }
    
    #nr15 {
        position: absolute;
        border: 10px;
        left: 390px;
        top: 780px;
    }
    
    #nr16 {
        position: absolute;
        border: 10px;
        left: 510px;
        top: 300px;
    }
    
    #nr17 {
        position: absolute;
        border: 10px;
        left: 510px;
        top: 420px;
    }
    
    #nr18 {
        position: absolute;
        border: 10px;
        left: 510px;
        top: 540px;
    }
    
    #nr19 {
        position: absolute;
        border: 10px;
        left: 510px;
        top: 660px;
    }
    
    #nr20 {
        position: absolute;
        border: 10px;
        left: 510px;
        top: 780px;
    }
    
    #bild1 {
        width: 250px;
        height: 250px;
        left: 260px;
        top: 530px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild1;
    }
    @keyframes bild1 {
        
        from {
            
            width: 250px;
            height: 250px;
            left: 260px;
            top: 530px;
        }
    
        to {
            
            height: 110px;
            width: 110px;
            
            top: 300px;
            left: 150px;
        }
    }
    
    #bild2 {
        width: 250px;
        height: 250px;
        left: 260px;
        top: 530px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild2;
    }
    @keyframes bild2 {
        
        from {
           
            width: 250px;
            height: 250px;
            left: 260px;
            top: 530px;
        }
    
        to {
           
            height: 110px;
            width: 110px;
            
            left: 150px;
            top: 420px;
        }
    }
    
    #bild3 {
        width: 250px;
        height: 250px;
        left: 260px;
        top: 530px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild3;
    }
    @keyframes bild3 {
        
        from {
            width: 250px;
            height: 250px;
            left: 260px;
            top: 530px;
        }
    
        to {
           
            height: 110px;
            width: 110px;
            
            left: 150px;
            top: 540px;
        }
    }
    
    #bild4 {
        width: 250px;
        height: 250px;
        left: 260px;
        top: 530px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild4;
    }
    @keyframes bild4 {
        
        from {
            width: 250px;
            height: 250px;
            left: 260px;
            top: 530px;
        }
    
        to {
            
            height: 110px;
            width: 110px;
            
            left: 150px;
            top: 660px;
        }
    }
    
    #bild5 {
        width: 250px;
        height: 250px;
        left: 260px;
        top: 530px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild5;
    }
    @keyframes bild5 {
        
        from {
            
            width: 250px;
            height: 250px;
            left: 260px;
            top: 530px;
        }
    
        to {
            
            height: 110px;
            width: 110px;
            
            left: 150px;
            top: 780px;
        }
    }
    
    #bild6 {
        width: 250px;
        height: 250px;
        left: 260px;
        top: 530px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild6;
    }
    @keyframes bild6 {
        
        from {
            width: 250px;
            height: 250px;
            left: 260px;
            top: 530px;
        }
    
        to {
            
            height: 110px;
            width: 110px;
           
            left: 270px;
            top: 300px;
        }
    }
    
    #bild7 {
        width: 250px;
        height: 250px;
        left: 260px;
        top: 530px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild7;
    }
    @keyframes bild7 {
        
        from {
            
            width: 250px;
            height: 250px;
            left: 260px;
            top: 530px;
        }
    
        to {
            
            height: 110px;
            width: 110px;
            
            left: 270px;
            top: 420px;
        }
    }
    
    #bild8 {
        width: 250px;
        height: 250px;
        left: 260px;
        top: 530px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild8;
    }
    @keyframes bild8 {
        
        from {
            width: 250px;
            height: 250px;
            left: 260px;
            top: 530px;
        }
    
        to {
           
            height: 110px;
            width: 110px;
            
            left: 270px;
            top: 540px;
        }
    }
    
    #bild9 {
        width: 250px;
        height: 250px;
        left: 260px;
        top: 530px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild9;
    }
    @keyframes bild9 {
        
        from {
            
            width: 250px;
            height: 250px;
            left: 260px;
            top: 530px;
        }
    
        to {
            
            height: 110px;
            width: 110px;
            
            left: 270px;
            top: 660px;
        }
    }
    
    #bild10 {
        width: 250px;
        height: 250px;
        left: 260px;
        top: 530px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild10;
    }
    @keyframes bild10 {
        
        from {
            width: 250px;
            height: 250px;
            left: 260px;
            top: 530px;
        }
    
        to {
            
            height: 110px;
            width: 110px;
          
            left: 270px;
            top: 780px;
        }
    }
    
    #bild11 {
        width: 250px;
        height: 250px;
        left: 260px;
        top: 530px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild11;
    }
    @keyframes bild11 {
        
        from {
            
            width: 250px;
            height: 250px;
            left: 260px;
            top: 530px;
        }
    
        to {
            
            height: 110px;
            width: 110px;
          
            left: 390px;
            top: 300px;
        }
    }
    
    #bild12 {
        width: 250px;
        height: 250px;
        left: 260px;
        top: 530px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild12;
    }
    @keyframes bild12 {
        
        from {
            
            width: 250px;
            height: 250px;
            left: 260px;
            top: 530px;
        }
    
        to {
           
            height: 110px;
            width: 110px;
            
            left: 390px;
            top: 420px;
        }
    }
    
    #bild13 {
        width: 250px;
        height: 250px;
        left: 260px;
        top: 530px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild13;
    }
    @keyframes bild13 {
        
        from {
            
            
            width: 250px;
            height: 250px;
            left: 260px;
            top: 530px;
        }
    
        to {
            
            height: 110px;
            width: 110px;
           
            left: 390px;
            top: 540px;
        }
    }
    
    #bild14 {
        width: 250px;
        height: 250px;
        left: 260px;
        top: 530px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild14;
    }
    @keyframes bild14 {
        
        from {
            
            width: 250px;
            height: 250px;
            left: 260px;
            top: 530px;
        }
    
        to {
           
            height: 110px;
            width: 110px;
            
            left: 390px;
            top: 660px;
        }
    }
    
    #bild15 {
        width: 250px;
        height: 250px;
        left: 260px;
        top: 530px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild15;
    }
    @keyframes bild15 {
        
        from {
           
            width: 250px;
            height: 250px;
            left: 260px;
            top: 530px;
        }
    
        to {
         
            height: 110px;
            width: 110px;
            
            left: 390px;
            top: 780px;
        }
    }
    
    #bild16 {
        width: 250px;
        height: 250px;
        left: 260px;
        top: 530px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild16;
    }
    @keyframes bild16 {
        
        from {
            
            width: 250px;
            height: 250px;
            left: 260px;
            top: 530px;
        }
    
        to {
           
            height: 110px;
            width: 110px;
            
            left: 510px;
            top: 300px;
        }
    }
    
    #bild17 {
        width: 250px;
        height: 250px;
        left: 260px;
        top: 530px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild17;
    }
    @keyframes bild17 {
        
        from {
            
            width: 250px;
            height: 250px;
            left: 260px;
            top: 530px;
        }
    
        to {
           
            height: 110px;
            width: 110px;
            
            left: 510px;
            top: 420px;
        }
    }
    
    #bild18 {
        width: 250px;
        height: 250px;
        left: 260px;
        top: 530px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild18;
    }
    @keyframes bild18 {
        
        from {
            
            width: 250px;
            height: 250px;
            left: 260px;
            top: 530px;
        }
    
        to {
            
            height: 110px;
            width: 110px;
            
            left: 510px;
            top: 540px;
        }
    }
    
    #bild19 {
        width: 250px;
        height: 250px;
        left: 260px;
        top: 530px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild19;
    }
    @keyframes bild19 {
        
        from {
            
            width: 250px;
            height: 250px;
            left: 260px;
            top: 530px;
        }
    
        to {
           
            height: 110px;
            width: 110px;
            
            left: 510px;
            top: 660px;
        }
    }
    
    #bild20 {
        width: 250px;
        height: 250px;
        left: 260px;
        top: 530px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild20;
    }
    @keyframes bild20 {
        
        from {
            
            width: 250px;
            height: 250px;
            left: 260px;
            top: 530px;
        }
    
        to {
            
            height: 110px;
            width: 110px;
            
            left: 510px;
            top: 780px;
        }
    }
    
    #move1 {
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: move;
    }
    
    @keyframes move {
        from {
            width: 110px;
            height: 110px;
        }
    
        to {
            width: 0px;
            height: 0px;
        }
    }
    
    #move2 {
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: move;
    }
    
    @keyframes move {
        from {
            width: 110px;
            height: 110px;
        }
    
        to {
            width: 0px;
            height: 0px;
        }
    }
}

@media screen and (max-width: 600px){
    .menu {
        overflow: hidden;
        background-color: black;
        margin-left: 82%;
        margin-right: 20%;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        display: inline;
    }
    
    .menu a {
        float: right;
        display: table;
        color: #f2f2f2;
        text-align: center;
        padding: 7px;
        text-decoration: none;
        font-size: 10px;
        border-right: 1px solid #f2f2f2;
        background-color: black;
    }
    
    button {
        background-color: black;
        color: white;
    }
    
    a.eins {  
        color:aqua; 
    }
    
    a:hover {
        color: #8FBC8F; 
    }
    
    .seite {
        color: red;
    }
    
    .content {
        padding: 16px;
    }
    
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    .sticky + .content {
        padding-top: 20px;
    }
    
    #index {
        color: red;
    }
    
    body {
        text-align: center;
        width: 100%;
        margin-top: 10px;
        font-family: sans-serif;
        background-color: #000880;
    }
    
    
    h1{
        font-size: 30px;
        text-align: center;
        padding-top: 30px;
        color:#8FBC8F;
        width: 100%;
        background-position: center;
    }
    
    h2, label {
        color: #8FBC8F;
        text-align: center;
        font-size: 20px;
    }

    p {
        color: #8FBC8F;
        text-align: center;
        font-size: 12px;
    }
    
    #name {
        color: #8FBC8F;
        text-align: center;
        font-size: 15px;
    }
    
    #nameEintrag {
        text-align: center;
        margin-top: 0px;
        height: 15px;
        width: auto;
    }
    
    #Formular {
        text-align: center;
        padding-top: 10px;
    }
    
    #Eintrag {
        text-align: center;
        
    }
    
    
    table, th, td { 
        text-align: center;
        border: 1px solid; 
        background-color:white;
        color: #8FBC8F;
        font-size: 10px;
        padding: 12px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    #start {
        text-align: center;
        height: auto;
        width: 150px;
        font-size: 15px;
        top: 120px;
    }
    
    #startHome {
        text-align: center;
        height: auto;
        width: 100px;
        font-size: 15px;
        margin-top: -10px;
        margin-bottom: -10px;
    }
    
    #erklaertext {
        text-align: center;
        top: 280px;
        padding-top: 6px;
    }
    
    
    #URL {
        width: 300px;
        height: auto;
        text-align: center;
    }
    
    #url {
        color: #8FBC8F;
        text-align: center;
        font-size: 15px;
    }
    
    img {
        height: 70px;
        width: 70px;
        text-align: center;
        z-index: 4;
    }
    
    #spielstart {
        z-index: 6;
        position: absolute;
        left: 120px;
        top: 285px;
        height: auto;
        width: 150px;
        font-size: 30px;
    }
    
    #timer {
        position: absolute;
        font-size: 25px;
        top: 80px;
        left: 160px;
        color: #f2f2f2;
    }
    
    #timerAnzeige {
        margin-top: 40px;
        margin-bottom: 60px;
        line-height: 0%;
        text-align: center;
        font-size: 50px;
        color: #f2f2f2;
    }
    
    #punkteAnzeige {
        margin-top: 40px;
        margin-bottom: 60px;
        line-height: 0%;
        text-align: center;
        font-size: 50px;
        color: #f2f2f2;
    }
    
    #p {
        text-align: center;
        font-size: 15px;    
    }
    
    #neuesSpiel {
        position: absolute;
        height: auto;
        width: 150px;
        font-size: 18px;
        top: 540px;
        left: 130px;
    }
    
    #fertig {
       text-align: center;
       margin-top: 10px;
        font-size: 15px;
        width: 70px;
        height: auto;
    }
    
    #einfuegen {
        text-align: center;
        font-size: 15px;
        width: 100px;
        height: auto;
    
    }
    
    #loeschen {
        text-align: center;
        font-size: 15px;
        width: 100px;
        height: auto;
    }
    
    #text {
       text-align: center;
       padding-top: 6px;
    }
    
    #anzeige {
        text-align: center;
        height: 100px;
        width: 100px;
    }
    
    #meme {
        text-align: center;
        top: 630px;
        height: 200px;
        width: 200px;
    }

    
    #video {
        position: absolute;
        z-index: 10;
        height: 300px;
        width: 300px;
        top: 40px;
        left: 20px;
    }

    #nr1 {
        position: absolute;
        border: 10px;
        top: 120px;
        left: 50px;
        
    }
    
    #nr2 {
        position: absolute;
        border: 10px;
        left: 50px;
        top: 200px;
    }
    
    #nr3 {
        position: absolute;
        border: 10px;
        left: 50px;
        top: 280px;
    }
    
    #nr4 {
        position: absolute;
        border: 10px;
        left: 50px;
        top: 360px;
    }
    
    #nr5 {
        position: absolute;
        border: 10px;
        left: 50px;
        top: 440px;
    }
    
    #nr6 {
        position: absolute;
        border: 10px;
        left: 130px;
        top: 120px;
    }
    
    #nr7 {
        position: absolute;
        border: 10px;
        left: 130px;
        top: 200px;
    }
    
    #nr8 {
        position: absolute;
        border: 10px;
        left: 130px;
        top: 280px;
    }
    
    #nr9 {
        position: absolute;
        border: 10px;
        left: 130px;
        top: 360px;
    }
    
    #nr10 {
        position: absolute;
        border: 10px;
        left: 130px;
        top: 440px;
    }
    
    #nr11 {
        position: absolute;
        border: 10px;
        left: 210px;
        top: 120px;
    }
    
    #nr12 {
        position: absolute;
        border: 10px;
        left: 210px;
        top: 200px;
    }
    
    
    #nr13 {
        position: absolute;
        border: 10px;
        left: 210px;
        top: 280px;
    }
    
    #nr14 {
        position: absolute;
        border: 10px;
        left: 210px;
        top: 360px;
    }
    
    #nr15 {
        position: absolute;
        border: 10px;
        left: 210px;
        top: 440px;
    }
    
    #nr16 {
        position: absolute;
        border: 10px;
        left: 290px;
        top: 120px;
    }
    
    #nr17 {
        position: absolute;
        border: 10px;
        left: 290px;
        top: 200px;
    }
    
    #nr18 {
        position: absolute;
        border: 10px;
        left: 290px;
        top: 280px;
    }
    
    #nr19 {
        position: absolute;
        border: 10px;
        left: 290px;
        top: 360px;
    }
    
    #nr20 {
        position: absolute;
        border: 10px;
        left: 290px;
        top: 440px;
    }
    
    #bild1 {
        width: 150px;
        height: 150px;
        left: 130px;
        top: 240px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild1;
    }
    @keyframes bild1 {
        
        from {
            
            width: 150px;
            height: 150px;
            left: 130px;
            top: 240px;
        }
    
        to {
            
            height: 70px;
            width: 70px;
            top: 120px;
            left: 50px;
        }
    }
    
    #bild2 {
        width: 150px;
        height: 150px;
        left: 130px;
        top: 240px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild2;
    }
    @keyframes bild2 {
        
        from {
            width: 150px;
            height: 150px;
            left: 130px;
            top: 240px;
        }
    
        to {
            height: 70px;
            width: 70px;
            top: 200px;
            left: 50px;
        }
    }
    
    #bild3 {
        width: 150px;
        height: 150px;
        left: 130px;
        top: 240px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild3;
    }
    @keyframes bild3 {
        
        from {
            width: 150px;
            height: 150px;
            left: 130px;
            top: 240px;
        }
    
        to {
            height: 70px;
            width: 70px;
            top: 280px;
            left: 50px;
        }
    }
    
    #bild4 {
        width: 150px;
        height: 150px;
        left: 130px;
        top: 240px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild4;
    }
    @keyframes bild4 {
        
        from {
            width: 150px;
            height: 150px;
            left: 130px;
            top: 240px;
        }
    
        to {
            height: 70px;
            width: 70px;
            top: 360px;
            left: 50px;
        }
    }
    
    #bild5 {
        width: 150px;
        height: 150px;
        left: 130px;
        top: 240px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild5;
    }
    @keyframes bild5 {
        
        from {
            width: 150px;
            height: 150px;
            left: 130px;
            top: 240px;
        }
    
        to {
            height: 70px;
            width: 70px;
            top: 440px;
            left: 50px;
        }
    }
    
    #bild6 {
        width: 150px;
        height: 150px;
        left: 130px;
        top: 240px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild6;
    }
    @keyframes bild6 {
        
        from {
            width: 150px;
            height: 150px;
            left: 130px;
            top: 240px;
        }
    
        to {
            height: 70px;
            width: 70px;
            left: 130px;
            top: 120px;
        }
    }
    
    #bild7 {
        width: 150px;
        height: 150px;
        left: 130px;
        top: 240px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild7;
    }
    @keyframes bild7 {
        
        from {
            width: 150px;
            height: 150px;
            left: 130px;
            top: 240px;
        }
    
        to {
            height: 70px;
            width: 70px;
            left: 130px;
            top: 200px;
        }
    }
    
    #bild8 {
        width: 150px;
        height: 150px;
        left: 130px;
        top: 240px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild8;
    }
    @keyframes bild8 {
        
        from {
            width: 150px;
            height: 150px;
            left: 130px;
            top: 240px;
        }
    
        to {
            height: 70px;
            width: 70px;
            left: 130px;
            top: 280px;
        }
    }
    
    #bild9 {
        width: 150px;
        height: 150px;
        left: 130px;
        top: 240px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild9;
    }
    @keyframes bild9 {
        
        from {
            width: 150px;
            height: 150px;
            left: 130px;
            top: 240px;
        }
    
        to {
            height: 70px;
            width: 70px;
            left: 130px;
            top: 360px;
        }
    }
    
    #bild10 {
        width: 150px;
        height: 150px;
        left: 130px;
        top: 240px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild10;
    }
    @keyframes bild10 {
        
        from {
            width: 150px;
            height: 150px;
            left: 130px;
            top: 240px;
        }
    
        to {
            height: 70px;
            width: 70px;
            left: 130px;
            top: 440px;
        }
    }
    
    #bild11 {
        width: 150px;
        height: 150px;
        left: 130px;
        top: 240px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild11;
    }
    @keyframes bild11 {
        
        from {
            width: 150px;
            height: 150px;
            left: 130px;
            top: 240px;
        }
    
        to {
            height: 70px;
            width: 70px;
            left: 210px;
            top: 120px;
        }
    }
    
    #bild12 {
        width: 150px;
        height: 150px;
        left: 130px;
        top: 240px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild12;
    }
    @keyframes bild12 {
        
        from {
            width: 150px;
            height: 150px;
            left: 130px;
            top: 240px;
        }
    
        to {
            height: 70px;
            width: 70px;
            left: 210px;
            top: 200px;
        }
    }
    
    #bild13 {
        width: 150px;
        height: 150px;
        left: 130px;
        top: 240px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild13;
    }
    @keyframes bild13 {
        
        from {
            width: 150px;
            height: 150px;
            left: 130px;
            top: 240px;
        }
    
        to {
            height: 70px;
            width: 70px;
            left: 210px;
            top: 280px;
        }
    }
    
    #bild14 {
        width: 150px;
        height: 150px;
        left: 130px;
        top: 240px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild14;
    }
    @keyframes bild14 {
        
        from {
            width: 150px;
            height: 150px;
            left: 130px;
            top: 240px;
        }
    
        to {
            height: 70px;
            width: 70px;
            left: 210px;
            top: 360px;
        }
    }
    
    #bild15 {
        width: 150px;
        height: 150px;
        left: 130px;
        top: 240px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild15;
    }
    @keyframes bild15 {
        
        from {
            width: 150px;
            height: 150px;
            left: 130px;
            top: 240px;
        }
    
        to {
            height: 70px;
            width: 70px;
            left: 210px;
            top: 440px;
        }
    }
    
    #bild16 {
        width: 150px;
        height: 150px;
        left: 130px;
        top: 240px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild16;
    }
    @keyframes bild16 {
        
        from {
            width: 150px;
            height: 150px;
            left: 130px;
            top: 240px;
        }
    
        to {
            height: 70px;
            width: 70px;
            left: 290px;
            top: 120px;
        }
    }
    
    #bild17 {
        width: 150px;
        height: 150px;
        left: 130px;
        top: 240px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild17;
    }
    @keyframes bild17 {
        
        from {
            width: 150px;
            height: 150px;
            left: 130px;
            top: 240px;
        }
    
        to {
            height: 70px;
            width: 70px;
            left: 290px;
            top: 200px;
        }
    }
    
    #bild18 {
        width: 150px;
        height: 150px;
        left: 130px;
        top: 240px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild18;
    }
    @keyframes bild18 {
        
        from {
            width: 150px;
            height: 150px;
            left: 130px;
            top: 240px;
        }
    
        to {
            height: 70px;
            width: 70px;
            left: 290px;
            top: 280px;
        }
    }
    
    #bild19 {
        width: 150px;
        height: 150px;
        left: 130px;
        top: 240px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild19;
    }
    @keyframes bild19 {
        
        from {
            width: 150px;
            height: 150px;
            left: 130px;
            top: 240px;
        }
    
        to {
            height: 70px;
            width: 70px;
            left: 290px;
            top: 360px;
        }
    }
    
    #bild20 {
        width: 150px;
        height: 150px;
        left: 130px;
        top: 240px;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: bild20;
    }
    @keyframes bild20 {
        
        from {
            width: 150px;
            height: 150px;
            left: 130px;
            top: 240px;
        }
    
        to {
            height: 70px;
            width: 70px;
            left: 290px;
            top: 440px;
        }
    }
    
    #move1 {
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: move;
    }
    
    @keyframes move {
        from {
            width: 70px;
            height: 70px;
        }
    
        to {
            width: 0px;
            height: 0px;
        }
    }
    
    #move2 {
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-name: move;
    }
    
    @keyframes move {
        from {
            width: 70px;
            height: 70px;
        }
    
        to {
            width: 0px;
            height: 0px;
        }
    }
}


