.menu {
    overflow: hidden;
    background-color: black;
    margin-left: 72%;
    margin-right: 30%;
    position: -webkit-sticky;
	position: sticky;
	top: 0;
    display: inline;
}

.menu a {
    float: right;
    display: table;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    border-right: 1px solid #f2f2f2;
    background-color: black;
}

button {
    background-color: black;
    color: white;
    margin: 10px;
}

a.eins {  
    color:aqua; 
}

a:hover {
    color: #8FBC8F; 
}

.seite {
    color: red;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 30px;
}

#index {
    color: red;
}

body {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-family: sans-serif;
    background-color: #000880;
}


h1{
    font-size: 70px;
    text-align: center;
    padding-top: 30px;
    color:#8FBC8F;
    width: 100%;
    background-position: center;
}

p, h2, label {
    color: #8FBC8F;
}

#name {
    color: #8FBC8F;
    position: absolute;
    top: 450px;
    left: 550px;
    font-size: 20px;
}

#nameEintrag {
    position: absolute;
    top: 450px;
    left: 780px;
    height: 15px;
    width: auto;
}


table, th, td { 
    border: 1px solid; 
    background-color:white;
    color: #8FBC8F;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
}


#start {
    position: absolute;
    height: auto;
    width: 200px;
    font-size: 25px;
    top: 230px;
    left: 1200px;
}


#URL {
    width: 500px;
    height: auto;
}

#url {
    color: #8FBC8F;
}

img {
    height: 120px;
    width: 120px;
    position: absolute;
    z-index: 4;
}

#antwortDiv {
    position: absolute;
    top: 500px;
    left: 100px;
    width: 2000px;
    white-space: pre-wrap;
}

#spielstart {
    z-index: 6;
    position: absolute;
    left: 510px;
    top: 300px;
    height: auto;
    width: 400px;
    font-size: 50px;
}

#timer {
    position: absolute;
    font-size: 50px;
    top: 170px;
    left: 1100px;
    color: #f2f2f2;
}

#timerAnzeige {
    position: absolute;
    font-size: 70px;
    color: #f2f2f2;
    top: 220px;
    left: 650px;
}

#punkteAnzeige {
    position: absolute;
    font-size: 70px;
    color: #f2f2f2;
    top: 350px;
    left: 700px;
}

#p {
    position: absolute;
    top: 300px;
    left: 720px;
}

#neuesSpiel {
    position: absolute;
    height: auto;
    width: 200px;
    font-size: 20px;
    top: 250px;
    left: 1100px;
}

#fertig {
    position: absolute;
    font-size: 15px;
    width: 70px;
    height: auto;
    left: 950px;
    top: 440px;
}

#einfuegen {
    position: absolute;
    font-size: 20px;
    width: 150px;
    height: auto;
    left: 700px;
}

#loeschen {
    position: absolute;
    font-size: 20px;
    width: 150px;
    height: auto;
    left: 700px;
    top: 420px;
}

#text {
    position: absolute;
    top: 300px;
    left: 400px;
}


#nr1 {
    position: absolute;
    border: 10px;
    left: 400px;
    top: 100px;
    
}

#nr2 {
    position: absolute;
    border: 10px;
    left: 400px;
    top: 230px;
}

#nr3 {
    position: absolute;
    border: 10px;
    left: 400px;
    top: 360px;
}

#nr4 {
    position: absolute;
    border: 10px;
    left: 400px;
    top: 490px;
}

#nr5 {
    position: absolute;
    border: 10px;
    left: 530px;
    top: 100px;
}

#nr6 {
    position: absolute;
    border: 10px;
    left: 530px;
    top: 230px;
}

#nr7 {
    position: absolute;
    border: 10px;
    left: 530px;
    top: 360px;
}

#nr8 {
    position: absolute;
    border: 10px;
    left: 530px;
    top: 490px;
}

#nr9 {
    position: absolute;
    border: 10px;
    left: 660px;
    top: 100px;
}

#nr10 {
    position: absolute;
    border: 10px;
    left: 660px;
    top: 230px;
}

#nr11 {
    position: absolute;
    border: 10px;
    left: 660px;
    top: 360px;
}

#nr12 {
    position: absolute;
    border: 10px;
    left: 660px;
    top: 490px;
}


#nr13 {
    position: absolute;
    border: 10px;
    left: 790px;
    top: 100px;
}

#nr14 {
    position: absolute;
    border: 10px;
    left: 790px;
    top: 230px;
}

#nr15 {
    position: absolute;
    border: 10px;
    left: 790px;
    top: 360px;
}

#nr16 {
    position: absolute;
    border: 10px;
    left: 790px;
    top: 490px;
}

#nr17 {
    position: absolute;
    border: 10px;
    left: 920px;
    top: 100px;
}

#nr18 {
    position: absolute;
    border: 10px;
    left: 920px;
    top: 230px;
}

#nr19 {
    position: absolute;
    border: 10px;
    left: 920px;
    top: 360px;
}

#nr20 {
    position: absolute;
    border: 10px;
    left: 920px;
    top: 490px;
}

#bild1 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild1;
}
@keyframes bild1 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        top: 100px;
        left: 400px;
    }
}

#bild2 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild2;
}
@keyframes bild2 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        top: 230px;
        left: 400px;
    }
}

#bild3 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild3;
}
@keyframes bild3 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        top: 360px;
        left: 400px;
    }
}

#bild4 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild4;
}
@keyframes bild4 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        top: 490px;
        left: 400px;
    }
}

#bild5 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild5;
}
@keyframes bild5 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 530px;
        top: 100px;
    }
}

#bild6 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild6;
}
@keyframes bild6 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 530px;
        top: 230px;
    }
}

#bild7 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild7;
}
@keyframes bild7 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 530px;
        top: 360px;
    }
}

#bild8 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild8;
}
@keyframes bild8 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 530px;
        top: 490px;
    }
}

#bild9 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild9;
}
@keyframes bild9 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 660px;
        top: 100px;
    }
}

#bild10 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild10;
}
@keyframes bild10 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 660px;
        top: 230px;
    }
}

#bild11 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild11;
}
@keyframes bild11 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 660px;
        top: 360px;
    }
}

#bild12 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild12;
}
@keyframes bild12 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 660px;
        top: 490px;
    }
}

#bild13 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild13;
}
@keyframes bild13 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 790px;
        top: 100px;
    }
}

#bild14 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild14;
}
@keyframes bild14 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 790px;
        top: 230px;
    }
}

#bild15 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild15;
}
@keyframes bild15 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 790px;
        top: 360px;
    }
}

#bild16 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild16;
}
@keyframes bild16 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 790px;
        top: 490px;
    }
}

#bild17 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild17;
}
@keyframes bild17 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 920px;
        top: 100px;
    }
}

#bild18 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild18;
}
@keyframes bild18 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 920px;
        top: 230px;
    }
}

#bild19 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild19;
}
@keyframes bild19 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 920px;
        top: 360px;
    }
}

#bild20 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: bild20;
}
@keyframes bild20 {
    
    from {
        width: 300px;
        height: 300px;
        top: 275px;
        left: 575px;
    }

    to {
        width: 120px;
        height: 120px;
        left: 920px;
        top: 490px;
    }
}

#move1 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: move;
}

@keyframes move {
    from {
        width: 120px;
        height: 120px;
    }

    to {
        width: 0px;
        height: 0px;
    }
}

#move2 {
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-name: move;
}

@keyframes move {
    from {
        width: 120px;
        height: 120px;
    }

    to {
        width: 0px;
        height: 0px;
    }
}



